.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.avatar:hover {
  cursor: pointer;
}

.popover {
  align-items: center;
  background-color: var(--popover-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  min-width: 15rem;
  padding: 1rem;
}

.userInfo {
  flex: 1;
  margin-right: 2rem;
}

.loggedInAs {
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.25rem;
}

.username {
  font-size: 1rem;
}

.discriminator {
  color: var(--gray);
}

.logoutButton {
  color: var(--red);
  font-size: 1rem;
  height: 100%;
}

.logoutButton:hover {
  cursor: pointer;
}
