:root {
  --blurple: #5865f2;
  --green: #57f287;
  --yellow: #fee75c;
  --fuchsia: #eb459e;
  --red: #ed4245;
  --white: #ffffff;
  --black: #000000;
  --gray: #b5bac1;

  --code-background: #111214;
  --main-background: #212327;
  --navbar-background: #282a2f;
  --popover-background: #111214;
  --sidebar-background: #282a2f;
  --input-background: #282a2f;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

button {
  align-items: center;
  background-color: var(--blurple);
  border: 0;
  border-radius: 0.5rem;
  color: var(--white);
  display: flex;
  font-size: 1rem;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 0 1.25rem;
  transition: background-color 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: var(--input-background);
  border: 0;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  height: 50px;
  outline: none;
  padding: 0 1.25rem;
  width: 100%;
}
