.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.content {
  background-color: var(--main-background);
  color: var(--white);
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 2rem;
}
