.header {
  color: var(--white);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.result {
  background-color: var(--input-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
}

.result:not(:first-child) {
  margin-top: 1rem;
}

.info {
  flex: 1;
}

.location {
  color: #ffffff;
  font-size: 1.125rem;
}

.coordinates {
  color: #99aab5;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
